{% include('partials/header.twig') %}

<form class="login" id="LoginForm">
    <div class="tittle-login">
        <a class="logo" href=""><img src="{{ 'assets/img/logo.png' | url }}"></a>
        <h1 class="title-form">Iniciar Sesión</h1></div>

    {% if activate_account %}
        <div id="Message" style="display: block;"><div class="succes"><p><i class="fa fa-check-circle-o" aria-hidden="true"></i> Your account has been activated, you can login.</p></div></div>
    {% else %}
        <div id="Message"></div>
    {% endif %}



    <div class="input">
        <div class="fa-login"><i class="fa fa-user"></i></div>
        <input type="email"  class="loginput correoelect" placeholder="Correo electrónico" name="email">
    </div>

    <div class="input">
        <div class="fa-login"><i class="fa fa-unlock-alt"></i></div>
        <input type="password" class="loginput contraseña" placeholder="Contraseña" name="password">
    </div>
    <div class="infoLogin">
        <div class="left"><label for="remenber"><input type="checkbox" name="remenber" id="remenber" checked> Permanecer con la sesión iniciada</label></div>
        <div class="right"><a href="{{ 'account/forgot' | url }}">¿Has olvidado la contraseña?</a></div>
    </div>
    <button type="submit" name="Blogin" class="Blogin" id="Sendform"> INICIAR SESIÓN</button>
    <div class="plus-regis">¿Todavía no eres miembro? <a href="{{ 'account/register' | url }}">Registrarse</a></div>

</form>

{% include('partials/footer.twig') %}