{% include('partials/header.twig') %}

<form action="" method="post" class="login">
    <div class="tittle-login">
        <a class="logo" href=""><img src="{{ 'assets/img/logo.png' | url }}"></a>
        <h1>Iniciar Sesión</h1></div>
    {% if errors %}
    <div class="error"s style="display: block;"><i class="fa fa-exclamation-triangle"></i><p>{{ errors }}</p></div>
    {% else %}
    <div class="error"><i class="fa fa-exclamation-triangle"></i><p></p></div>
    {% endif %}
    <div class="input">
        <div class="fa-login"><i class="fa fa-user"></i></div>
        <input type="email"  class="loginput correoelect" placeholder="Correo electrónico" name="email">
    </div>

    <div class="input">
        <div class="fa-login"><i class="fa fa-unlock-alt"></i></div>
        <input type="password" class="loginput contraseña" placeholder="Contraseña" name="password">
    </div>
    <div class="infoLogin">
        <div class="left"><label for="remenber"><input type="checkbox" name="remenber" id="remenber" checked> Permanecer con la sesión iniciada</label></div>
        <div class="right"><a href="{{ 'account/forgot' | url }}">¿Has olvidado la contraseña?</a></div>
    </div>
    <button type="submit" name="Blogin" class="Blogin"> INICIAR SESIÓN</button>
    <div class="plus-regis">¿Todavía no eres miembro? <a href="{{ 'account/register' | url }}">Registrarse</a></div>

</form>

{% include('partials/footer.twig') %}