{% extends 'layout.twig' %}

{% block container %}
    <div class="containerCentral">
        <div class="header-profile"><h2> <i class="fa fa-cogs" aria-hidden="true"></i>
                Account settings</h2></div>
        <div class="cont-profile">
            <div class="menu-left">
                <div class="data-user">
                    <div class="img-icon"><img src="http://lorempixel.com/150/150/people/" alt=""></div>
                    <div class="name">Marcos Gin</div>
                </div>
                <ul class="menu">
                    <li class=""><a href="http://localhost/ecommerce/public/profile"><div class="icon"><i class="fa fa-cog" aria-hidden="true"></i></div> Settings</a></li>
                    <li class="active"><a href="http://localhost/ecommerce/public/profile/history"><div class="icon"><i class="fa fa-history" aria-hidden="true"></i></div> My history</a></li>
                    <li class=""><a href=""><div class="icon"><i class="fa fa-shield" aria-hidden="true"></i></div> Security and privacity</a></li>
                </ul>
            </div>
            <div class="data-right">
                <div class="data">
                    <div class="header-tittle"><h2>Your history</h2></div>
                    <div class="body">
                        <div class="history">
                            <div class="header">
                                <div class="th">Product(s)</div>
                                <div class="th">Quantity</div>
                                <div class="th">Total</div>
                                <div class="th">Date</div>
                            </div>
                            <div class="body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts_footer %}
    <script>
        $(function () {
           var renderHistory = (function () {
               var HTML = '';
               Number.prototype.formatMoney = function(c, d, t){
                   var n = this,
                       c = isNaN(c = Math.abs(c)) ? 2 : c,
                       d = d == undefined ? "." : d,
                       t = t == undefined ? "," : t,
                       s = n < 0 ? "-" : "",
                       i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
                       j = (j = i.length) > 3 ? j % 3 : 0;
                   return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
               };
               return {
                   init: function () {
                       var history = $('.data-right .data .body .history .body');
                       $.ajax({
                           url: 'http://localhost/ecommerce/public/profile/myhistory',
                           type: 'GET',
                           data: {},
                           contentType: 'application/json; charset=utf-8',
                           datatype: 'json',
                           cache: false,
                           beforeSend: function (xhr) {
                               xhr.setRequestHeader("Authorization", Cookies.get('__token'));
                           }
                       }).done(function (data) {
                           if(data.result){
                               Cookies.set('__token', data.jwt);
                               for(var cart in data.message){
                                   HTML +=  '<div class="row">'+
                                            '<div class="td">';

                                   for(var product in data.message[cart].products){
                                    HTML +=  data.message[cart].products[product].name + '<br>';
                                   }

                                   HTML +=  '</div><div class="td">' + data.message[cart].quantity + '</div>'+
                                            '<div class="td">$ ' + parseInt(data.message[cart].total).formatMoney(0, ',', '.')+ '</div>'+
                                            '<div class="td"><span data-livestamp="'+ data.message[cart].date +'"></span></div>'+
                                            '</div>';
                               }
                               history.append(HTML);
                           }else{
                               HTML += '<div class="row"><div class="td td-full">' + data.message + '</div></div>'
                               history.append(HTML);
                           }
                       }).fail(function (err) {
                           console.log(err);
                       });
                   }
               }
        })();
           renderHistory.init();
        });
    </script>
{% endblock %}