{% extends 'layout.twig' %}

{% block container %}
    <div class="containerCentral">
        <div class="header-profile"><h2> <i class="fa fa-cogs" aria-hidden="true"></i>
                Account settings</h2></div>
        <div class="cont-profile">
            <div class="menu-left">
                <div class="data-user">
                    <div class="img-icon"><img src="http://lorempixel.com/150/150/people/" alt=""></div>
                    <div class="name">Marcos Gin</div>
                </div>
                <ul class="menu">
                    <li class=""><div class="icon"><i class="fa fa-cog" aria-hidden="true"></i></div> Settings</li>
                    <li class="active"><div class="icon"><i class="fa fa-history" aria-hidden="true"></i></div> My history</li>
                    <li class=""><div class="icon"><i class="fa fa-shield" aria-hidden="true"></i></div> Security and privacity</li>
                </ul>
            </div>
            <div class="data-right">
                <div class="data">
                    <div class="header-tittle"><h2>Your history</h2></div>
                    <div class="body">
                        <div class="history">
                            <div class="header">
                                <div class="th">Product(s)</div>
                                <div class="th">Quantity</div>
                                <div class="th">Total</div>
                                <div class="th">Date</div>
                            </div>
                            <div class="body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts_footer %}
    <script>
        $(function () {
           var renderHistory = (function () {
               var HTML = '';

               return {
                   init: function () {
                       var history = $('.data-right .data .body .history .body');
                       $.ajax({
                           url: 'http://localhost/ecommerce/public/profile/myhistory',
                           type: 'GET',
                           data: {},
                           contentType: 'application/json; charset=utf-8',
                           datatype: 'json',
                           cache: false,
                           beforeSend: function (xhr) {
                               xhr.setRequestHeader("Authorization", Cookies.get('__token'));
                           }
                       }).done(function (data) {
                           if(data.result){
                               for(var cart in data.message){
                                   console.log(data.message[cart]);
                                   HTML +=  '<div class="row">'+
                                            '<div class="td">' + cart  + '</div>'+
                                            '<div class="td">-</div>'+
                                            '<div class="td">$ -</div>'+
                                            '<div class="td">' + data.message[cart].date + '</div>'+
                                            '</div>';
                               }
                               history.append(HTML);
                               console.log(HTML);
                           }
                           console.log(data);
                       }).fail(function (err) {
                           console.log(err);
                       });
                   }
               }
        })();
           renderHistory.init();
        });
    </script>
{% endblock %}