{% extends 'layout.twig' %}

{% block container %}
    <div class="containerCentral">
        <div class="header-profile"><h2> <i class="fa fa-cogs" aria-hidden="true"></i>
                Account settings</h2></div>
        <div class="cont-profile">
            <div class="menu-left">
                <div class="data-user">
                    <div class="img-icon"><img src="http://lorempixel.com/150/150/people/" alt=""></div>
                    <div class="name">Marcos Gin</div>
                </div>
                <ul class="menu">
                    <li class=""><div class="icon"><i class="fa fa-cog" aria-hidden="true"></i></div> Settings</li>
                    <li class="active"><div class="icon"><i class="fa fa-history" aria-hidden="true"></i></div> My history</li>
                    <li class=""><div class="icon"><i class="fa fa-shield" aria-hidden="true"></i></div> Security and privacity</li>
                </ul>
            </div>
            <div class="data-right">
                <div class="data">
                    <div class="header-tittle"><h2>Your history</h2></div>
                    <div class="body">
                        <div class="history">
                            <div class="header">
                                <div class="th">Product(s)</div>
                                <div class="th">Quantity</div>
                                <div class="th">Total</div>
                                <div class="th">Date</div>
                            </div>
                            <div class="body">
                                <div class="row">
                                    <div class="td">Moto, Galaxy, Huawei</div>
                                    <div class="td">3</div>
                                    <div class="td">$ 34.000</div>
                                    <div class="td">Hace un día</div>
                                </div>
                                <div class="row">
                                    <div class="td">Moto, Galaxy, Huawei</div>
                                    <div class="td">3</div>
                                    <div class="td">$ 34.000</div>
                                    <div class="td">Hace un día</div>
                                </div>
                                <div class="row">
                                    <div class="td">Moto, Galaxy, Huawei</div>
                                    <div class="td">3</div>
                                    <div class="td">$ 34.000</div>
                                    <div class="td">Hace un día</div>
                                </div>
                                <div class="row">
                                    <div class="td">Moto, Galaxy, Huawei</div>
                                    <div class="td">3</div>
                                    <div class="td">$ 34.000</div>
                                    <div class="td">Hace un día</div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}