{% extends 'layout.twig' %}

{% block container %}
<div class="containerCentral">
    <h2 class="tittle-carrito">Tu carrito <i class="fa fa-shopping-cart"></i></h2>

    <div class="carritoCont">

        <div class="tabCont-carrito">
            <table id="TableCart" class="table-carrito">
                <thead>
                <tr>
                    <th colspan="2">PRODUCTO</th>
                    <th>PRECIO</th>
                    <th>CANTIDAD</th>
                    <th>TOTAL</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="bill-cont">
            <div class="bill">
                <div class="bill-tittle">Resumen</div>
                <div class="bill-buy">
                    <div class="sub-buy"><span class="total">SUBTOTAL</span><span class="num">$ 0000</span></div>

                    <div class="buy"><span class="total">TOTAL</span><span class="num">$ 0000</span></div>

                    <form action="" method="post">
                        <button type="submit" name="buy"><i class="fa fa-credit-card"></i> Pagar</button>

                    </form>
                </div>

                <!--<div class="msg-error">error</div>-->
            </div>
            <div class="agree">
                Seguir comprando más <a href="/productos">productos</a>
            </div>
        </div>



    <!-- <div class='agreed'>No has seleccionado un producto, <a href='/productos'>click acá</a>.</div>-->

</div>
</div>
{% endblock %}
{% block scripts_footer %}
    <script type="text/javascript">
        $(function () {
            var tableCart = $('#TableCart tbody');

            var renderTable = function() {
                var cart = (function () {
                    var cart = JSON.parse(localStorage.getItem("cart"));
                    if (cart === null) {
                        cart = {};
                    }
                    return {
                        value: function () {
                            return cart;
                        }
                    }
                })();
                Number.prototype.formatMoney = function (c, d, t) {
                    var n = this,
                        c = isNaN(c = Math.abs(c)) ? 2 : c,
                        d = d == undefined ? "." : d,
                        t = t == undefined ? "," : t,
                        s = n < 0 ? "-" : "",
                        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
                        j = (j = i.length) > 3 ? j % 3 : 0;
                    return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
                };
                var tableHTML = "";
                $.each(cart.value(), function (key, value) {
                    var priceProduct = parseInt(cart.value()[key].price) * parseInt(cart.value()[key].quantity);
                    tableHTML += '<tr><td><div class="carritoImg"><img src="http://localhost/ecommerce/public/assets/img/products/' + cart.value()[key].img + '" alt=""></div></td>' +
                        '    <td>' + cart.value()[key].name + '</td>' +
                        '    <td>$ ' + parseInt(cart.value()[key].price).formatMoney(0, ',', '.') + '</td>' +
                        '    <td> <div class="quantity"><input class="UpdateQuantity" data-id="' + key + '" min="1" max="9" step="1" type="number" value="' + cart.value()[key].quantity + '"></div></td>' +
                        '    <td>$ ' + priceProduct.formatMoney(0, ',', '.') + '</td>' +
                        '    <td><a class="RemoveProduct" data-id="' + key + '" style="cursor:pointer;"><i class="fa fa-trash"></i></a></td></tr>';
                });
                tableCart.empty();
                tableCart.append(tableHTML);

                $('.RemoveProduct').on('click', function (e) {

                    var cart = (function () {
                        var cart = JSON.parse(localStorage.getItem("cart"));
                        if (cart === null) {
                            cart = {};
                        }
                        return {
                            value: function () {
                                return cart;
                            }
                        }
                    })();
                    var dataId = $(this).attr('data-id');
                    $.ajax({
                        url: 'http://localhost/ecommerce/public/cart/mycart',
                        type: 'DELETE',
                        data: {dataid: dataId, cart: cart.value()},
                        datatype: 'json',
                    }).done(function (data) {
                        if(data.result){
                            localStorage.setItem('cart', JSON.stringify(data.message.cart));
                            renderTable();
                            changeCart.init();
                            Notify(data.message.response, null, null, 'success');
                        }else{
                            console.log(data);
                        }
                    }).fail(function (){
                        console.log('fail');
                    });

                });

                $('.UpdateQuantity').on('change', function (e) {
                    var cart = (function () {
                        var cart = JSON.parse(localStorage.getItem("cart"));
                        if (cart === null) {
                            cart = {};
                        }
                        return {
                            value: function () {
                                return cart;
                            }
                        }
                    })();
                    var dataid  = $(this).attr('data-id');
                    var quantity = $(this).val();

                    $.ajax({
                        url: 'http://localhost/ecommerce/public/cart/mycart',
                        type: 'PUT',
                        data: {dataid: dataid, cart: cart.value(), quantity: quantity},
                        datatype: 'json',
                    }).done(function (data) {
                        if(data.result){
                            localStorage.setItem('cart', JSON.stringify(data.message.cart));
                            renderTable();
                            changeCart.init();
                            Notify(data.message.response, null, null, 'success');
                        }else {
                            console.log(data);
                        }
                    }).fail(function () {
                       console.log('fail');
                    });


                });

            };
            renderTable();






        });
    </script>
{% endblock %}