{% extends 'layout.twig' %}

{% block slider %}
    <div class="rslides_container">
        <ul class="rslides" id="slider1">
            <li><img src="assets/img/articles/slider1.jpg" alt=""></li>
            <li><img src="assets/img/articles/slider2.jpg" alt=""></li>
            <li><img src="assets/img/articles/slider3.png"></li>
        </ul>
    </div>
{% endblock %}