{% include('partials/header.twig') %}
<body>
    <div class="container">
        {% include('partials/menu.twig') %}

        {% block container %}{% endblock %}
    </div>
</body>

{% include('partials/footer.twig') %}{% block scripts_footer %}{% endblock %}


