{% extends 'layout.twig' %}

{% block container %}
    <div class="containerCentral">
        <div class="productos-cont">
            <section class="section-right">
                <div class="section-h3">
                    <h3>Categorias</h3>
                </div>
                <ul class="ul-master">
                    <div class="li">
                        <li class='li-active'>
                        <span class="fa2"><i class="fa fa-star-o"></i></span><a href="/productos">Todos</a></li>
                    </div>
                    <div class="li">
                        <li>
                            <span class="fa2"><i class="fa fa-star"></i></span><a href="?bq=1">Celular</a>
                        </li>
                                <ul class="sub-ul">
                                    <li>
                                        <a href='?bq=1'>LG</a>
                                    </li>
                                </ul>
                    </div>
                </ul>
            </section>
            <div class="asides">
                <aside>
                      <div class="side-post">
                            <div class="cont-img">
                                <a href=''><img src="assets/img/products/57f09a7483399/580cc770b17f8_1.jpg" alt="img" title=""></a>
                            </div>
                            <div class="cont-info">
                                <p class="side-tittle">Product 1</p>
                                <div class="side-info">
                                    <div>
                                        <button class="button-white">
                                            <a href="">Ver más</a>
                                        </button>
                                    </div>
                                    <div>
                                        <button class="button-violet">$ 1.000</button>
                                    </div>
                                </div>
                                <button type="submit" class="button">
                                    <a href=""><i class="fa fa-shopping-cart"></i> Comprar</a>
                                </button>

                            </div>
                        </div>
                </aside>
                <aside>
                      <div class="list-cont">
                            <a class='list-a list-active'>1</a>
                      </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}