{% extends 'layout.twig' %}

{% block container %}
    <div class="containerCentral">
        <div class="products-cont">
            <div class="sidebar right">
                <div class="sidebar-tittle">
                    <span>Categories</span>
                </div>
                <ul class="sidebar-menu">
                </ul>
            </div>
            <div class="list-products left">
                <div class="products">

                </div>
                <div id="pagination-container">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_footer %}
    <script type="text/javascript">
        $(function (){
            var renderCategories = (function () {
                var container = $('.sidebar .sidebar-menu');
                var HTML = '';
                return {
                    init: function () {
                        $.ajax({
                            url: 'http://localhost/ecommerce/public/products/categories',
                            type: 'GET',
                            data: {},
                            contentType: 'application/json; charset=utf-8',
                            datatype: 'json',
                            cache: false
                        }).done(function (data) {
                            if(data.result){
                                HTML += '<li class="active">'+
                                        '<div class="row"><span class="icon"><i class="fa fa-star-o"></i></span><a href="">All</a></div>'+
                                        '</li>';
                                for(var category in data.message){
                                    HTML += '<li class="">'+
                                            '<div class="row">'+
                                            '<span class="icon"><i class="fa ' + data.message[category].icon + '"></i></span>'+
                                            '<a href="">' + data.message[category].name + '</a>'+
                                            '</div><ul class="marks">';
                                     for (var mark in data.message[category].marks){
                                         HTML +=  '<li><a href="">' + data.message[category].marks[mark].name + '</a></li>';
                                     }

                                    HTML += '</ul></li>';
                                }
                                container.empty();
                                container.append(HTML);
                            }
                            console.log(data);
                        }).fail(function (err) {
                            console.log(err);
                        });
                    }
                }
            })();
            renderCategories.init();

            var renderProducts = (function () {
                var container = $('.list-products .products');
                var getDiscount = function (price, discount) {

                    return Number(price) - ( Number(price)* Number(discount)/100 );
                };
                Number.prototype.formatMoney = function(c, d, t){
                    var n = this,
                        c = isNaN(c = Math.abs(c)) ? 2 : c,
                        d = d == undefined ? "." : d,
                        t = t == undefined ? "," : t,
                        s = n < 0 ? "-" : "",
                        i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
                        j = (j = i.length) > 3 ? j % 3 : 0;
                    return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
                };
                var template = function (data) {
                    var HTML = '';
                    for (var product in data){
                        var offer = '', offer_price = 0, offer_number = 0;
                        if(data[product].offer){
                            offer = 'offer';
                            offer_number = data[product].offer_number ? data[product].offer_number : 0;
                            offer_price = getDiscount(data[product].precio, offer_number);
                        }
                        HTML += '<div class="row">'+
                            '<a href="products/profile/'+ data[product].nombre +'">'+
                            '<div class="img">'+
                            '<img src="assets/img/products/'+ data[product].carpet + '/' + data[product].portada + '" alt="img" title="' + data[product].nombre + '">'+
                            '</div></a>'+
                            '<div class="data">'+
                            '<div class="tittle">'+
                            '<a href="products/profile/'+  data[product].nombre + '"><span> '+ data[product].nombre +'</span></a>'+
                            '</div>'+
                            '<div class="price ' + offer +'">'+
                            '<span class="base">$ ' + parseInt(data[product].precio).formatMoney(0, ',', '.') +  ' </span>'+
                            '<span class="with-offer">$ ' + offer_price.formatMoney(0, ',', '.') + '</span>'+
                            '<span class="value-offer">' + offer_number +' % OFF</span>'+
                            '</div></div></div>';
                    }
                    return HTML;
                };
                return {
                    init: function () {
                        $.ajax({
                            url: 'http://localhost/ecommerce/public/products/product/1',
                            type: 'GET',
                            data: {},
                            contentType: 'application/json; charset=utf-8',
                            datatype: 'json',
                            cache: false
                        }).done(function (data) {
                            if(data.result){
                                $('#pagination-container').pagination({
                                    dataSource: data.message,
                                    pageSize: 6,
                                    callback: function(data, pagination) {
                                        var html = template(data);
                                        $(container).empty();
                                        $(container).append(html);}
                                    });
                            }
                            console.log(data);
                        }).fail(function (err) {
                            console.log(err);
                        });
                    }
                }
            })();
            renderProducts.init();
        });
    </script>
{% endblock %}