.carritoCont {
    max-width: 820px;
    margin: 0 auto;
}

.tittle-carrito {
    color: #444;
    font-size: 19px;
    margin-bottom: 15px;
    font-weight: 300;
    padding: 5px
}

.tabCont-carrito {
    width: 100%;
}

.table-total{
    color: #444;
    width: 100%;
    font-size: 13px;
    font-weight: 300;
    border-collapse: collapse;
}
.table-total tr td{
    border:1px solid #dddddd;
    padding: 8px 5px;
}
.table-total tr td:first-child{
    text-align: right;
    width: 80%;
}
.table-total tr:last-child td:first-child{
    background: #d9edf7;
}

.table-carrito {
    color: #444;
    width: 100%;
    margin-bottom: 20px;
}
.empty-cart{
    background: #BDE5F8;
    color: #00529B;
    width: 100%;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 14px;
}
.empty-cart h2{
    font-weight: 400;
    font-size: 17px;
}
.empty-cart p a{
    text-decoration: underline;

}

.table-carrito tr:first-child {
    border: 1px solid#444
}

.table-carrito tr th:first-child {
    text-align: left;
    width: 50%;
    padding: 5px 25px;
}

.table-carrito tr td:first-child,
.table-carrito tr td:nth-child(2) {
    text-align: left
}

.table-carrito tr th {
    text-align: center;
    padding: 5px;
    font-size: 13px;
    font-weight: 300;
}

.table-carrito tr td {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
}

.table-carrito tr td .name {
    color: #4AB4F8;
}

.carritoImg {
    width: 70px
}

.carritoImg img {
    max-width: 100%
}

.table-carrito .priceinpu {
    width: 100%;
    max-width: 50px;
    height: 30px;
    font-size: 17px;
    padding: 5px;
    outline: none
}
.quantityInput {
    position: relative;
    display: flex;
    justify-content: center;
}

.quantityInput::after {
    content: '';
    display: table;
    clear: both;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantityInput input {
    width: 45px;
    height: 35px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    border: 1px solid #eee;
}

.quantityInput input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 35px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 17.5px;
    top: 0;
    border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: 0;
    height: 17.5px;
}

.contBuy{
    margin: 10px 0px;
    text-align: right;
}
.contBuy .button-buy{
    background: #1d94dc;
    color: #fff;
    border: 1px solid #1087dc;
}
.contBuy .button-buy a{
    padding:5px 8px;
    display: block;
    cursor: pointer;
}

@media(max-width:620px) {
    .tabCont-carrito,
    .bill-cont {
        width: 100%;
    }}