*{margin:0;padding:0;box-sizing:border-box}body{background:beige;font-size:16px;font-family:sans-serif}
.centrado:after,.centrado:before{content:" ";display:table;clear:both}
.centrado{margin:10px auto;width:100%;max-width:600px}
.error-404{float:left;width:200px;padding:10px}
.error-404 span{font-size:100px;font-weight:300;color:#449688}
.error-content{max-width:400px;float:right;padding:20px}
.error-content h3{font-weight:300;font-size:25px;color:#009688}
.error-content p{font-size:0.8em;line-height:1.428571429;color:#4f5f5f}
.error-content p>a{color:#3c8dbc!important}
.fa-warning{color:#f39c12!important}