*{margin:0;padding:0;box-sizing:border-box;font-family:'Roboto',sans-serif}
a{text-decoration:none;color:inherit}
html{height:100%}
body{margin:0;padding:0;color:#fff;font-size:16px;height:100%;display:flex;flex-direction:column;justify-content:space-between}
.center{width:100%;max-width:1120px;margin:0 auto;padding:3px}
.error{border:2px solid#b1625c;padding:10px;display:none;width:100%;background:#c16969;font-size:14px;min-height:30px;line-height:20px;margin-bottom:10px;color:#fff}
.error .fa{float:left;padding:2px}
.footer-pag{background:#2d2d2d;border-top:1px solid beige;width:100%;margin-top:10%}
.footer-cont{padding:20px 30px;line-height:20px;color:beige;flex-wrap:wrap;display:flex;justify-content:space-between}
.footer-cont .info{width:78%}
.iconsSocial{width:22%;text-align:right}
.iconsSocial a.fa{font-size:1.5em;padding:5px}
.containerCentral{max-width:1120px;width:100%;margin:20px auto;min-height:800px}
.containerCentral:after,.containerCentral:before,.sub:after,.sub:before,aside:after,aside:before{content:" ";clear:both;display:table}
.productos-cont{display:flex;justify-content:space-between}
.section-right{width:25%;min-width:230px;max-width:230px;height:auto;color:#444}
.section-right .section-h3{background:#486277;line-height:40px;text-align:center;border-top-left-radius:10px;border-bottom-right-radius:10px;margin-bottom:10px;color:#e4e4e4}
.section-right h3{font-weight:400;font-size:1.1em}
.section-right .ul-master{font-size:0.9em;display:flex;flex-wrap:wrap;justify-content:center;list-style:none}
.section-right .ul-master> .li{width:94%;margin-bottom:10px}
.section-right .ul-master .li> li{background:#eee;border:1px solid#ccc;height:30px;transition:all 500ms ease-in-out}
.section-right .ul-master .li> .li-active, .section-right .ul-master .li> li:hover{color:#486277;border-color:#506B81}
.section-right .ul-master .li> li .fa2{text-align:center;float:left;width:30px;padding-top:0.5em;height:30px;border-right:1px solid#ccc;margin-right:5px}
.section-right .ul-master .li> li a{display:block;line-height:2em}
.section-right .ul-master .li .sub-ul{list-style:none;width:80%;margin-left:30px;margin-top:5px}
.section-right .ul-master .li .sub-ul> li{margin-bottom:8px;border:1px dashed#6d6d6d;transition:all 500ms ease-in-out}
.section-right .ul-master .li .sub-ul> li:last-child{margin-bottom:0px}
.section-right .ul-master .li .sub-ul> li a{display:block;padding:3px}
.section-right .ul-master .li .sub-ul> .li-active, .section-right .ul-master .li .sub-ul>li:hover{color:#486277;border-color:#486277}
.asides{width:72%}aside{display:flex;flex-wrap:wrap}
.side-post{width:23%;margin:1%;padding:10px;height:320px;border:1px solid#888}
.side-post .cont-img{width:140px;max-height:140px;margin:0 auto}
.side-post .cont-img img{max-width:100%}
.side-post .cont-info{width:100%;max-width:250px}
.side-post .cont-info .side-tittle{font-size:0.9em;padding:5px;height:60px;color:black}
.side-post .cont-info .side-info{display:flex;justify-content:space-between;margin-top:10px;height:50px}
.side-post .cont-info .side-info .button-white{color:#fff;background:#486277;padding:5px;border:1px solid#446179;border-radius:3px;font-size:13px;width:60px;height:25px}
.side-post .cont-info .side-info .button-violet{color:#fff;background:#673AB7;padding:5px;border:1px solid#642bca;border-radius:3px;font-size:13px;height:25px;min-width:60px}
.button{width:100%;border:1px solid#13324a;background:#274761;text-align:center;color:#fff;outline:none;text-transform:uppercase;transition:all.4s ease-in}
.button a{display:block;padding:10px;cursor:pointer}
.button:hover{background:#33526B;border-color:#17374F}
.list-cont{margin:10px auto;width:100%;max-width:600px;display:flex;justify-content:center}
.list-cont .list-a{background:#fafafa;font-size:12px;color:#444;box-shadow:inset 0px-1px 0px 0px rgba(0,0,0,0.09);padding:5px 10px;border:1px solid#ddd}
.list-cont .list-a:hover{background:#eee}
.list-cont .list-active{background:#eee}
.msgproducts{max-width:500px;width:80%;background:#d2a2a2;border:1px solid#C1BEBE;border-radius:3px;padding:20px;margin:auto}
.sub{background-color:#2d2d2d;width:100%;max-width:800px;margin:0 auto;min-height:60px;padding:15px 30px;border-radius:3px}
.sub .mensj{float:left;color:azure;width:50%;padding:10px}
.sub .formSub{float:right;width:50%;text-align:center;padding:10px}
.formSub .inpuSub{background-color:azure;border:none;width:100%;max-width:200px;padding:5px 10px;height:30px;border-radius:2px;outline:none}
.formSub .SendSub{background-color:darkorange;color:#fff;height:30px;padding:5px;border:1px solid#fff;border-radius:2px;cursor:pointer;margin:5px;outline:none}
.formSub .mensjError{color:firebrick;font-size:0.9em}
@media(max-width:1040px){
.side-post{width:30%;margin:1.65%}
.containerCentral{padding:5px}}
@media(max-width:840px){
	.side-post{width:40%;margin:5%}}
	@media(max-width:700px){
		.side-post{width:49%;margin:10px 0.5%}}
		@media(max-width:360px){
			.side-post{width:99%;margin:0.5%auto;max-width:230px}}
			@media(max-width:535px){
				.productos-cont{flex-wrap:wrap}
				.section-right{max-width:300px;width:100%;margin:0 auto}
				.asides{width:100%}
				.section-right .ul-master.li .sub-ul{display:flex;flex-wrap:wrap;justify-content:space-between}
				.section-right .ul-master .li .sub-ul>li{width:49%}}
				@media(max-width:610px){
					.footer-cont .info,.footer-cont .iconsSocial{width:100%}}
					@media(max-width:520px){
						.msgproducts{max-width:100%;width:100%}
						.footer-cont{text-align:center}
						.sub .mensj,.sub .formSub{width:100%;float:none} 
						.sub .mensj{text-align:center}}