.cont-profile .data-right .body .history{
    margin-top: 20px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 4px;
    font-weight: 300;
}
.cont-profile .data-right .body .history .header, .cont-profile .data-right .body .history .body .row{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.cont-profile .data-right .body .history .header .th, .cont-profile .data-right .body .row .td{
    width: 20%;
    text-align: center;
    border-right: 1px solid #eee;
    padding: 10px 5px;
}
.cont-profile .data-right .body .history .header .th:first-child, .cont-profile .data-right .body .row .td:first-child{
    width: 40%;
}
.cont-profile .data-right .body .history .header .th:last-child, .cont-profile .data-right .body .row .td:last-child,.cont-profile .data-right .body .history .body .row:last-child{
    border: none;
}

