.login, .register{width:100%;max-width:360px;padding:15px 5px;margin:10px auto;color:#333}
.login .tittle-login, .register .tittle-register{margin-bottom:20px}
.login .tittle-login .logo img, .register .tittle-register .logo img{max-width:100%}
.login .tittle-login h1,.register .tittle-register h1{font-weight:300;font-size:1.5em}
.login .input, .register .input{position:relative;height:35px;margin-bottom:10px}
.login .input .fa-login, .register .input .fa-login{position:absolute;display:block;height:100%;color:#535353;font-size:14px;text-align:center;line-height:37px;padding:0 4px}
.login .input input,.register .input input{width:100%;padding:0 18px;line-height:35px;transition:border-color.3s ease;border:1px solid#d5d5d5;border-radius:0.3em;background-color:#fff;color:#535353;font-size:1em;outline:none}
.login .infoLogin{margin:15px 0;display:flex;justify-content:space-between;font-size:13px}
.login .infoLogin .left, .login .infoLogin .right{width:50%;position:relative}
.login .infoLogin .left label, .register .termines label{padding:0rem 0rem 0rem 1.3rem;display:block}
.login .infoLogin .left label input, .register .termines label input{position:absolute;left:0;top:2px}
.login .infoLogin .right{text-align:right;color:#0084d4}
.login button, .register button{width:100%;color:#fff;background-color:#009df5;font-weight:300;font-size:15px;text-align:center;padding:8px;border:1px solid#358DF9;border-radius:0.3em;cursor:pointer;transition:background-color.5s ease;margin-top:5px}
.login button:hover, .register button:hover{background-color:#0084d4}
.login .plus-regis,  .register .ready-login{font-size:14px;text-align:center;margin-top:20px;width:100%}
.login .plus-regis a, .register .ready-login a{color:#0084d4}
.login .input input:focus, .register .input input:focus{border-color:#0084d4}
.login input::-webkit-input-placeholder{color:#535353}
.login input:-moz-placeholder{color:#535353}
.login input:-moz-placeholder{color:#535353}
.login input:-ms-input-placeholder{color:#535353}
@media(max-width:480px){.login{max-width:300px}}